<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta name="description" content="The power of text extraction, manipulation, and analysis in an API">
<meta name="keywords" content="nlp, ocr, sentiment, nltk, text processing, text analysis, entity extraction">
<meta name="author" content="TextAPI">
<meta property="og:title" content="Your Text Processing Swiss Army Knife"/>
<meta property="og:site_name" content="TextAPI"/>
<meta property="og:url" content="http://texapi.com"/>
<meta property="og:description" content="The power of text extraction, manipulation, and analysis in an API"/>
<meta property="og:type" content="website"/>
<meta property="og:locale" content="en_US"/>
<meta property="og:image:url" content="http://textapi.com/images/logo-horizontal.jpg"/>
<meta property="og:image:type" content="image/png"/>
<meta property="og:image:width" content="464"/>
<meta property="og:image:height" content="159"/>

<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="TextAPI - Your Text Processing Swiss Army Knife"/>
<meta name="twitter:site" content="@texapi"/>
<meta name="twitter:creator" content="@textapi"/>
<meta name="twitter:url" content="http://textapi.com"/>
<meta name="twitter:description" content="The power of text extraction, manipulation, and analysis in an API">
<meta name="twitter:image" content="http://textapi.com/images/logo-horizontal.jpg">

<title>{{site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>

<link rel="stylesheet" href="{{ "/css/primer.css" | prepend: site.baseurl }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.css">
<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" href="/img/apple-touch-icon-precomposed.png">

<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="shortcut icon" type="image/x-icon" href="{{ "/images/favicon.png" | prepend: site.baseurl }}">
<style type="text/css">
.masthead-nav {
    font-size: 1.1rem;
}
</style>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-76402519-1', 'auto');
  ga('send', 'pageview');

</script>