<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>

    <header class="masthead">
      <div class="container">
        <a href="/" class="masthead-logo">
          <img style="max-height:43px;margin-bottom:-10px;" src="{{ "/images/logo-horizontal-inverted.png" | prepend: site.baseurl }}" />
        </a>

        {% include nav.html %}
      </div>
    </header>

    <div class="container">
      {{ content }}
    </div>

    {% include footer.html %}
    </div>
  </body>
</html>
